rahmatzaw.elarisnoir.my.id {
	encode gzip zstd

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1; mode=block"
	}

	# Proxy ke Backend (Golang API) -- port 8087
	handle /api/* {
		reverse_proxy localhost:8087
	}

	# Proxy ke Frontend (Next.js) -- port 3007
	handle /* {
		reverse_proxy localhost:3007
	}
}
