openapi: 3.0.0
info:
  title: Kos-Kosan API
  description: API for Kos-Kosan Perum Alam Sigura Gura
  version: 1.0.0
servers:
  - url: http://localhost:8080/api
paths:
  /login:
    post:
      summary: User Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Successful login
        "401":
          description: Unauthorized
