@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    --background: 0 0% 100%;
    --foreground: 240 10% 9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 9%;
    --primary: 240 10% 1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 264 53% 95%;
    --secondary-foreground: 240 10% 1%;
    --muted: 0 0% 93%;
    --muted-foreground: 216 12% 45%;
    --accent: 0 0% 94%;
    --accent-foreground: 240 10% 1%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 31% 91%;
    --input: transparent;
    --input-background: 0 0% 95%;
    --switch-background: 0 0% 80%;
    --ring: 240 10% 44%;
    --radius: 0.625rem;
  }

  .dark {
    color-scheme: dark;
    --background: 240 10% 9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 9% 13%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 45%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 52% 80%;
    --border: 240 10% 16%;
    --input: 0 0% 15%;
    --ring: 0 0% 27%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
